* {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bolds;
}
body{
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(survey-form-background.jpeg);
}

.container {
    margin: 30px auto;
    width: 40%;
    background-color: rgb(27 27 50 / 80%);
}

.container header {
    padding: 20px;
}

.container .form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container .form div {
    margin: 10px 0px;
    padding: 10px;
}

.container .form div label {
    
    margin-bottom: 8px;
}

.container .form div input {
   
   
    padding: 10px;
}

.container select {
    display: block;
    width: 100%;
    padding: 10px;
}

.container .select p {
    margin-bottom: 8px;
}
.role{
    color: black !important;
    
}